@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header {
    padding: 20px 15%;
    background-color: #1F2937;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

li {
    list-style: none;
}

.hero-container {
    display: flex;
    padding: 20px 15%;
    background-color: #1F2937;
    color: white;
    padding-bottom: 120px;
}

.hero-left-container {
    min-width: 50%;
    padding-right: 20px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-signup-button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 900;
}

.hero-right-container {
    min-width: 50%;
    padding-left: 10px;
}

.hero-image-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-boxes-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information-box-container {
    width: 150px;
}

.information-image-placeholder {
    height: 150px;
    outline: 4px solid #3882F6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 20%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: 900;
    color: #1F2937;
}